.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.list-group-item-custom {
  position: relative;
  display: block;
  padding: .2rem 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid rgba(0,0,0,.125);
}

.won {
  background-color: #C1F0B2;
}

.lost {
  background-color: #FEB9C6;
}

.tie {
  background-color: #F9F2CC;
}

.selected {
  font-weight: bold;
}